@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html, body {

  width: 100%;
  height: 100%;

}

body {
  position: relative;
  min-height: 100vh;
}

a, button, li, input {
  -webkit-transition: .35s;
  -moz-transition: .35s;
  -ms-transition: .35s;
  -o-transition: .35s;
  transition: .35s;
}

a {
  cursor: pointer;
}

label {
  cursor: pointer;
  width: 100%;
}

.panel-body {
  p {
    padding: 10px 15px;
    background: #333333;
    color: #ffffff;
  }
}

#search-block, #xml-form {

  > div {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

}

/*===classes of general===*/
.text-center {
  text-align: center;
}

.mt30px {
  margin-top: 30px;
}

.mb15px {
  margin-bottom: 15px !important;
}

.mb20px {
  margin-bottom: 20px;
}

.mt100px {
  margin-top: 100px;
}

.pt0 {
  padding-top: 0 !important;
}

.p0 {
  padding: 0;
}

.p15--l-r {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.df {
  display: flex;
}

.fw {
  flex-wrap: wrap;
}

.lh40px {
  line-height: 40px;
}

.index {

  ul {
    margin: 30px -15px 0;
    justify-content: center;
  }

  li {
    margin: 15px;
    text-align: center;

    a {
      padding: 10px;
      border: 2px solid #000000;
      background: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 1em;
      text-transform: capitalize;
      width: 198px;
      height: 198px;

      &:hover {
        background: #eeeeee;
      }
    }

  }

}

tr.unread td {
  font-weight: bold;
  background-color: #c8d3f1;
}

tr.message td {
  cursor: pointer;
}

.form-error, .error {
  color: #ba1616;
}

.success {
  color: #00670b;
}

table {
  width: 100%;
}

.translation {
  tr {
    width: 100%;

  }

  td {
    padding: 10px 0;

    &:first-child {
      width: 15%;
      text-align: right;
      padding: 0 15px;
    }
  }

  input {
    width: 100%;
    padding: 3px 5px;
  }

}

.table-responsive {
  width: 100%;
}

.table > thead > tr > th {
  border: none;
}

.dropdown {

  ul {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;

    li {

      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: normal;
      line-height: 1.428571429;
      color: #333333;
      white-space: nowrap;
    }

  }

}

.dropdown.open {

  ul {
    display: block;
  }

}

.info__right {

  .form-group {
    margin-bottom: 0;
  }

  .name-img {
    height: 40px;
    margin-bottom: 10px;

    .control-label {
      padding-top: 7px;
      cursor: pointer;
    }

    input {
      margin-top: 4px;
      border: 1px solid #dddddd;
    }

  }

  > div {
    padding-left: 0;
  }

  label, .control-label {
    font-weight: 400;
    padding-right: 0;
    cursor: auto;
    padding-top: 4px;
  }

  input, .form-control[disabled] {
    border: 0;
    box-shadow: none;
    background: transparent;
    height: auto;
    padding: 3px 12px;
    width: 100%;
  }

}

.upload-images-block {
  height: 245px;
  width: 245px;
  position: relative;
  overflow: hidden;

  input[type="file"] {
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
  img {
    width: 100%;
  }

}

.input-upload-image {
  border: 1px dashed #333333;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;

  &:after, &:before {
    content: '';
    position: absolute;
    top: 50%;
    width: 50%;
    height: 1px;
    background: #333333;
  }

  &:after {
    transform: rotate(45deg);
    left: 25%;
  }
  &:before {
    transform: rotate(-45deg);
    right: 25%;
  }

}

.vcenter {

  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

.container {

  a:hover, a:focus {
    text-decoration: none;
  }

}

input[type="checkbox"] {
  margin: 9px 0 0;
  padding: 0;
  height: 15px;
  width: 15px;
  display: inline-block;
}

.label-new {
  cursor: pointer;

  img {
    max-width: 35px;
    max-height: 35px;
    width: 100%;
    height: 100%;
  }

  @media (max-width: $dl-horizontal-breakpoint) {
    text-align: center;
    width: 100%;
    img {
      width: 30px;
      height: 30px;
    }
    span {
      display: block;
    }
  }
}

.ui-state-default {
  display: flex;
  align-items: center;
  margin: 5px 0;
  span {
    display: flex;
    margin: 0 15px;
  }
}

.admin-list {

  img {
    display: inline-block;
    margin: 0 auto 10px;
    max-width: 50px;
    width: 100%;

  }

}

.gallery {
  &-desc {
    max-width: 45rem;
    width: 100%;
    textarea {
      padding: 5px;
      resize: vertical;
      width: 100%;
    }
  }
}

.home-images-list {
  display: flex;
  flex-wrap: wrap;

  li {
    width: 32%;
    margin: 5px;
  }

  span {
    flex-direction: column;
    justify-content: center;
  }

  img {
    width: 100%;
  }
}

.selected-property-block {
  display: inline-block;
  width: 49%;
  img {
    max-width: 30rem;
  }
}

select[multiple] {
  min-height: 10vw;
}
