.breadcrumb {
  margin-bottom: 0;
  padding:0;
  background: transparent;
  width: 70%;

  @media screen and (max-width: 767px) {

    width: 65%;
    margin-right: 15px;

  }

  a, span {
    font: 1.0em 'Open Sans';
    opacity: .5;

    &:last-child {
      color: #2a5f2e;
      opacity: 1;
    }
  }
  a {
    font-weight: 700;
    color: #000000;
  }
  span {
    color: #a8a8a8;
  }
}