
.burger {
  z-index: 3;
  background: #ffffff;


  @media screen and (min-width: 992px) {

    display: none;

  }

  width: 60px;
  padding: 15px 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3px;

  span {
    width: 20px;
    height: 3px;
    display: inline-block;
    background-color: #434343;
    margin-bottom: 3px;

    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    transition-duration: 500ms;

    &:nth-child(1) {
      top: 16px;
      left: 20px;
    }

    &:nth-child(2) {
      top: 24px;
      left: 20px;
    }

    &:nth-child(3) {
      bottom: 14px;
      left: 20px;
    }

  }

}
/*.menuFive{
  width: 35px;
  height: 30px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.menuFive span{
  background-color:#FFF;
  position: absolute;
  border-radius: 2px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  width:100%;
  height: 4px;
  transition-duration: 500ms
}*/

.burger:not(.burger-open):hover span:nth-child(1){
  transform: rotate(-3deg) scaleY(1.1);
}
.burger:not(.burger-open):hover span:nth-child(2){
  transform: rotate(3deg) scaleY(1.1);
}
.burger:not(.burger-open):hover span:nth-child(3){
  transform: rotate(-4deg) scaleY(1.1);
}
.burger-open span:nth-child(1){
  transform: rotate(45deg);
  top: 25px;

}
.burger-open span:nth-child(2){
  transform: scale(.01);

}
.burger-open span:nth-child(3){
  transform: rotate(-45deg);
  top: 25px;
}

