/*===favorite-list===*/

.show-favorite {

  width: 100% !important;

  .favorites-account-f-s {
    margin-left: 30px;
  }

  .property-block {

    &-main {
      //border-radius: 5px;
      //box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
      overflow: hidden;
    }

    &-bottom {
      padding: 0 10px 10px;

        //&__ {

          /*p {
            font-weight: 600;
          }*/

          /*span {
            color: #a8a8a8;
          }*/
        //}
    }

/*    &--del {
      justify-content: center;
      flex-direction: column;

      &:hover {
        text-decoration: none;
      }

      img {
        width: 100%;
        max-width: 250px;
        margin: auto;
      }

      span {
        display: inline-block;
        width: 100%;
        color: #000;
        margin-top: 20px;
        font-size: 1.5em;
      }

    }*/
  }


  .descrip-bottom {
    display: none;
  }

  .close {
    -webkit-transition: .35s;
    -moz-transition: .35s ;
    -ms-transition: .35s ;
    -o-transition: .35s ;
    transition: .35s ;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }

}
.hide-favorite {

  .descrip-bottom {
    display: none;
  }

}

.favorit-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);

  span {
    cursor: pointer;
    background-position: center;
    width: 24px;
    height: 21px;
    display: inline-block;
    line-height: 54px;
    margin-top: 17px;
    background-repeat: no-repeat;
  }

  &-no_select {
    span {
      background-image: url("/img/like-no-select.svg");
    }
  }

  &-select {
    span {
      background-image: url("/img/like-select.svg");
    }
  }

  &--header {

    //color: #e84949;
    //font-size: 1.125em;
    font-size: 0;
    margin: 0 15px;
    cursor: pointer;
    //padding: 0 30px 0 65px;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    span {
      position: absolute;
      left: 20px;
      height: 21px;
      width: 24px;
    }

/*    &:after {
      content: '';
      position: absolute;
      left: 0;
      height: 100%;
      top: 0;
      width: 1px;
      background: #979797;
    }*/

  }

}

.favorites {

  &-header {

    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 3.5%;

    .property-block {
      width: 100%;
      max-width: 100%;
    }

    @media screen and (max-width: 991px) {
      position: fixed;
      left: 100%;
      width: 100%;
      top: 70px;
      padding-left: 0;
    }

    &-open {
      left: 0;
    }

  }

  &-account {
    margin: 0;
    cursor: pointer;
    white-space: nowrap;

    position: relative;
    z-index: 5;
    font-size: 16px;
    -webkit-transition: .35s;
    -moz-transition: .35s ;
    -ms-transition: .35s ;
    -o-transition: .35s ;
    transition: .35s ;
    color: #e84949;
    font-weight: 400;

    @media screen and (max-width: 991px) {
      text-align: center;
    }

    &:after {
      content: url("/img/like-select.svg");
      position: absolute;
      left: -30px;
      width: 24px;
      height: 21px;
      top: -2px;

      @media screen and (max-width: 991px) {
        left: 25%;
      }
    }

    span {
      display: inline-block;
      min-width: 10px;
      text-align: center;
    }

  }

  &-list {
    //z-index: 4;
    //height: 100%;

    &-main {
      position: fixed;
      width: 0;
      max-width: 26.8em;
      top: 0;
      right: 0;
      height: 100%;
      z-index: 11;
      background: #ffffff;
      padding: 0;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
      -webkit-transition: .35s;
      -moz-transition: .35s ;
      -ms-transition: .35s ;
      -o-transition: .35s ;
      transition: .35s ;

      &-top {
        display: flex;
        justify-content: space-between;
        padding: 46.5px 30px;
        border-bottom: solid 1px rgba(151, 151, 151, 0.31);

        @media screen and (max-width: 991px) {
          padding-top: 18.5px;
          padding-bottom: 18.5px;

          .favorites-account {
            &:after {
              left: -30px;
            }
          }
        }
      }



      .favorites-list {

        height: 100%;
        position: absolute;
        width: 100%;
        top: 0;
        padding-top: 10em;
        z-index: 1;

        @media screen and (max-width: 991px) {
          padding-top: 6.5em;
        }

      }

    }

    .property-block {
      flex-basis: 100%;
      max-width: 100%;
      width: 100%;
    }

    &-sharing {
      height: 100%;
      overflow-y: scroll;

      @media screen and (max-width: 767px) {
        padding-bottom: 30px;
      }

      &-open-form {
        position: relative;
        color: #434343;
        font-size: 1.25em;
        margin: 1.5em 0;
        white-space: nowrap;
        font-weight: 900;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        >span {
          font-size: 0;
          width: 36px;
          height: 36px;
          border-radius: 50%;
          display: inline-block;
          background-color: #ffffff;
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
          position: relative;
          text-align: center;
          line-height: 31px;
          cursor: pointer;
          -webkit-transition: .35s;
          -moz-transition: .35s ;
          -ms-transition: .35s ;
          -o-transition: .35s ;
          transition: .35s ;

        }
        span.around-form {

            .caret {
              margin-top: 10px;
              -webkit-transform: rotate(-225deg);
              -moz-transform: rotate(-225deg);
              -ms-transform: rotate(-225deg);
              -o-transform: rotate(-225deg);
              transform: rotate(-225deg);
            }

        }
        .caret {
          margin-left: 0;
        }
      }

      &-form {
        padding: 0 20px;

        form {

          >div {
            margin: 40px 0;
          }

          input, textarea {
            resize: vertical;
            border: none;
            width: 100%;
            color: #698b0f;
            font-size: 1.0em;
            border-bottom: 1px solid rgba(151, 151, 151, .5);
          }

          textarea {
            margin-bottom: -2px;
          }

/*          label.error {
            width: 100%;
            position: absolute;
            bottom: -20px;
            left: 0;
            font-size: .75em;
            color: #ff0000;

              &:after {
                content: '';
                position: absolute;
                left: 0;
                top: -5px;
                width: 100%;
                height: 2px;
                background: #ff0000;
                transition: .5s;
              }
          }*/

        }

      }

    }

  }

}

.header-favorites-discover {
  @media screen and (max-width: 991px) {
    top: 80px;
  }
}
