.footer {
  background: #363535;
  padding: 2.5em 0 2.5em;
  margin-top: 2.5em;

  flex: 0 0 auto;

    @media screen and (max-width: 767px) {
      padding: 1.5em 0 1.0em;
      margin-top: 1.5em;
    }

    &-main {
      display: flex;
      flex-wrap: wrap;
      flex: 1 1 auto;

      padding: 0 2.5%;

      @media screen and (max-width: 767px) {
        padding: 0;
      }

      ul {

        flex: 1 1 auto;

        li {
          display: flex;
          margin: .75em .75em .75em 0;
          color: #a8a8a8;
          font-size: .875em;
          line-height: 1.57;

          a {
            color: #a8a8a8;
            font-size: inherit;
          }

          &:first-child {
            font-size: 1.125em;
            color: #ffffff;
            font-weight: 900;
            margin-bottom: 1.25em;
          }

        }

        @media screen and (max-width: 767px) {
          min-width: 50%;
          flex: 1 0;
        }
        &.footer-contact{

          @media screen and (max-width: 767px) {
            flex: 1 1 auto;
          }
        }

      }
      img {
        margin-right: 15px;
        width: 11px;
      }
      .send {
        img {
          width: 47px;
          margin: auto;
        }
      }

      input::placeholder {color: #a8a8a8;}
      input::-webkit-input-placeholder {color: #a8a8a8;}
      input::-moz-placeholder          {color: #a8a8a8;}/* Firefox 19+ */
      input:-moz-placeholder           {color: #a8a8a8;}/* Firefox 18- */
      input:-ms-input-placeholder      {color: #a8a8a8;}

    }

  &-pin {
    img {
      align-self: baseline;
      margin-top: 4px;
    }
  }

  form, form label {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    margin-bottom: 1.25em;

    input {
      border-bottom: solid 1px #979797;
      color: #ffffff;
    }

    p {
      margin: 0 1em;
    }
  }

  button {
    display: block;
    background-image: url(/img/footer-send.svg);
    background-position: 13px 15px;
    background-size: 19px;
    background-repeat: no-repeat;
    background-color: #ffffff;
    border-radius: 50%;
    border: none;
    width: 47px;
    height: 47px;
    padding: 0;

      &:hover {
        background-color: #2a5f2e;
        background-image: url(/img/send.svg);
        background-position: 13px 15px;
        background-size: 19px;
        background-repeat: no-repeat;
      }
  }

  &-contact {
    max-width: 300px;
    margin: 0 30px;

    @media screen and (max-width: 767px) {
      margin: 0;
    }

  }


  &-bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 3em;

      @media screen and (max-width: 767px) {
        margin-top: 1.5em;
      }

      p, a {
        font-size: 12px;
        margin: 0;
        color: #888888;
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        li {
          position: relative;
          padding: 0 10px;
        }

          li {
            &:not(:last-child):after {
              content: '';
              position: absolute;
              right: 0;
              top: 10%;
              height: 80%;
              width: 1px;
              background: #888888;
            }
          }
      }

      @media screen and (max-width: 767px) {
        ul {
          order: 1;
          margin-bottom: 15px;
        }
        p {
          order: 2;
          text-align: center;
          opacity: .2;
          font-size: 10px;
          line-height: 15px;
        }
      }
  }

  .thank {
    color: #ffffff;
  }

}