input::placeholder {color: #000000;}
input::-webkit-input-placeholder {color: #000000;}
input::-moz-placeholder          {color: #000000;}/* Firefox 19+ */
input:-moz-placeholder           {color: #000000;}/* Firefox 18- */
input:-ms-input-placeholder      {color: #000000;}

textarea::placeholder {color: #a8a8a8;}
textarea::-webkit-input-placeholder {color: #000000;}
textarea::-moz-placeholder          {color: #000000;}/* Firefox 19+ */
textarea:-moz-placeholder           {color: #000000;}/* Firefox 18- */
textarea:-ms-input-placeholder      {color: #000000;}

.form-contact-us {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  max-width:26.8em;
  background: #ffffff;
  -webkit-transition: .35s;
  -moz-transition: .35s ;
  -ms-transition: .35s ;
  -o-transition: .35s ;
  transition: .35s ;
  padding: 50px 0;

  @media screen and (max-width: 991px) {

    padding-bottom: 50px;
    padding-top: 17px;
    max-width: 100%;

  }

  p {
    margin: 0;
  }

  span {
    cursor: pointer;
    display: block;
    color: #a8a8a8;
    opacity: .7;
    font-weight: 300;
    margin-bottom: 10px;
    position: relative;
    top: 0;
    -webkit-transition: .35s;
    -moz-transition: .35s ;
    -ms-transition: .35s ;
    -o-transition: .35s ;
    transition: .35s ;
  }

  input,textarea {
    padding-bottom: 10px;
    border-bottom: solid 1px #a8a8a8;
    font-size: .9em;
    color: #2a5f2e;
    position: relative;
    width: 100%;
    resize: vertical;

  }

  &-top {

    display: flex;
    justify-content: space-between;
    padding: 0 35px 40px;
    border-bottom: solid 1px rgba(151,151,151,.3);

    @media screen and (max-width: 991px) {
      padding-bottom: 16px;
      padding-left: 20px;
    }

  }

  &-bottom {
    height: 100%;

    &-item {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow-y: scroll;
    }

  }


  &__ {

    padding: 0 35px;

    @media screen and (max-width: 991px) {
      padding: 0 20px;
    }

    >div {
      margin: 35px 0;
      display: flex;

      width: 100%;
    }

    .send {

      button {

        font-size: inherit;
        background: none;
        white-space: nowrap;
        height: inherit;
        box-shadow: none;

        @media screen and (max-width: 991px) {
          font-size: 16px;
        }

      }

    }

  }

  .close {
    /*display: none;*/
    opacity: 0;
  }
}
label, input {
  width: 100%;
}

label.error {
  position: absolute;
  bottom: -25px;
  left: 0;
  font-size: .75em;
  color: #ff0000;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: -5px;
    width: 100%;
    height: 2px;
    background: #ff0000;
    -webkit-transition: .5s;
    -moz-transition: .5s ;
    -ms-transition: .5s ;
    -o-transition: .5s ;
    transition: .5s ;
  }
}

.lb_label {
  font-size: .875em;
  color: #a8a8a8;
}

textarea {
  margin-bottom: -2px;
}

.lb_wrap {
  width: 100%;
  display: block !important;

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      right: 50%;
      width: 0;
      height: 2px;
      bottom: 0px;
      background: #2a5f2e;

    }
}
.lb_wrap.lb_wrap_line{

  &:after {
    width: 100%;
    left: 0;
    right: 0;
    -webkit-transition: .5s;
    -moz-transition: .5s ;
    -ms-transition: .5s ;
    -o-transition: .5s ;
    transition: .5s ;
  }

}

.form-contact-us-hide {
  width: 0;
}
.form-contact-us-show {

  width: 100%;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);

  .close {
    opacity: 1;
    -webkit-transition: .35s;
    -moz-transition: .35s ;
    -ms-transition: .35s ;
    -o-transition: .35s ;
    transition: .35s ;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }

}

label {
  display: block;
  font-size: 1.0em;
  font-weight: 600;
  color: #a8a8a8;
  margin-bottom: 10px;
  cursor: pointer;
}


/*==== form ====*/

.form {

  &-main__ {
    margin-top: 2em;
    z-index: 2;


    @media screen and (max-width: 767px) {

      margin-top: .5em;

    }

  }

  &-main {
    width: 100%;
    //max-width: 62.5em;
    margin: 0 auto 3.5em;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);

    @media screen and (max-width: 767px) {

      margin-bottom: 1.5em;

    }

      &-header {

        .contact-info {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

            >p {
              margin: 20px 0;
            }
        }
      }
  }

  &-item {
    padding: 2.5em 3.1875em .625em;

    @media screen and (max-width: 767px) {

      padding: .5em;

    }

    >p {
      color: #434343;
      font-size: 1.25em;
      margin-bottom: .5em;
      margin-top: .5em;
    }

    span {
      font-weight: 100;
    }

    input, textarea {
      border: none;
      width: 100%;
      color: #2a5f2e;
      font-size: 1.125em;
      border-bottom: 2px solid rgba(151, 151, 151, .5);
      resize: vertical;

      @media screen and (max-width: 767px) {

        font-size: 14px;

      }
    }

    input {
      padding: 10px 10px 10px 0;
    }

    textarea {
      resize: vertical;
      padding: 10px 0;
      min-height: 6em;
    }

    &__input, &__txt {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      >div {

        padding: 2em 2.3125em;
        flex: 1 1;
        min-width: 50%;

        @media (max-width: 767px) {
          width: 100%;
          min-width: 100%;
          padding: 1.5em .5em;
        }

      }

      .form-item__input--phone {
        padding-top: 2em;
        z-index: 4;

        .lb_wrap {
          .intl-tel-input {
            .selected-flag {
              bottom: -20px;
            }
          }
        }
      }

    }

    &__input {
      z-index: 4;
    }

    &__input, &__txt {

      .lb_label {
        font-size: 1em;
      }

    }

    &__txt {

      >div {
        width: 80%;
      }

      p {
        width: 20%;
        text-align: right;
      }



      @media (max-width: 767px) {
        >div, p {
          width: 100%;
          text-align: center;
        }
      }

    }

    .send {

      button {
        font-size: 18px;
        color: #FFFFFF;
        font-weight: 400;
        outline: none;
        border: none;
        background: #2a5f2e;
        text-indent: 0;

          &:hover {
            background: #1E4625;

          }
      }

    }

  }
}
.send {
  text-align: center;
  justify-content: center;

  button {

    margin: auto;
    border-radius: 2px;
    border: solid 2px #2a5f2e;
    width: 100%;
    padding: 22px 0;
    color: #2a5f2e;

    @media screen and (max-width: 991px) {
      font-size: 16px;
      padding: 15px 0;
    }

    &:hover {
      background: #2a5f2e;
      color: #ffffff;
    }
  //
  }
}

/*=============*/

.form {

  &-type {
    flex: .5 1;
  }

  &-category {
    flex: .7 1;
  }

  &-city {
    flex: .5 1;
  }

  &-rooms {
    flex: .6 1;
  }

  &-budget {
    flex: .6 1;
  }

  &-code {
    flex: .5 1;

    &:after {
      content: none !important;
    }

  }

  &-btn {
    flex: .6 1;
    margin-right: 0!important;
  }

}

.form-popup {
  position: absolute;
  left: 0;
  top: -10%;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,.5);
  z-index: 4;

    >div {
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }

  p {
    padding: 20px;
    font-size: 1.125em;
    color: #ffffff;
  }

  button {
    display: inline-block;
    margin: 2em auto;
    color: #ffffff;
    border: 1px solid ;
    border-radius: 3px;
    padding: 6px;
  }

}

.form-phone-block {
  z-index: 5;
}

.textarea-form {
  width: 100% !important;
}
.footer-form {
  width: 100% !important;
  display: flex;
  justify-content: center;
  .g-recaptcha {
    margin-right:10px;
  }
  @media screen and (max-width: 590px) {
    display: block;
    .g-recaptcha {
      margin-right:0;
      margin-bottom:10px;
      & > div {
        margin: auto;
      }
    }
  }
  .send {
    width: 100%;
    max-width: 300px;
    @media screen and (max-width: 590px) {
      max-width: 100%;
    }
    button {
      padding:28px 30px;
    }
  }
}
.form-captch {
  display: block;
}

