/*===header===*/
.header {

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  background: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);

  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-left: 3%;
  padding-right: 3%;

  height: 110px;


  @media screen and (max-width: 991px) {
    height: 55px;

  }

  &-logo {

    width: 300px;
    padding: 5px 0;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #ffffff;

    @media screen and (max-width: 991px) {

      width: 130px;

    }

    img {
      width: 300px;

      @media screen and (max-width: 991px) {

        width: 100%;

      }

    }
  }

  .form-btn {
    flex: 0;
    width: 90px;
    min-width: 90px;

    @media screen and (max-width: 991px) {
      width: 100%;
    }

  }

  &-lang {

    display: flex;
    justify-content: center;
    flex-direction: column;
    //margin-right: 4em;

    ul {
      left: 0;
      top: -20px;

      @media screen and (max-width: 991px) {
        left: 50%;
        margin-left: -40px;
      }
    }
  }

  &-right {
    display: flex;
    align-items: stretch;


    @media screen and (max-width: 991px) {

      display: none;

      position: absolute;
      top: 300px;
      width: 100%;
      left: 0;

      flex-wrap: wrap;
      z-index: 4;

    }

      &-property {

        @media screen and (max-width: 991px) {
          top: 80px;
        }

        .favorites-header {
            padding-left: 30px;
            border-left: 1px solid #979797;

            @media screen and (max-width: 991px) {
              left: 35%;
              width: 55%;
            }
          }

          .favorites-account {
            &:after {
              content: none;
            }
          }
      }
  }

  /*.search-main-block {

    form {

      >div {
        width: auto;
        max-width: 90px;

      }

    }

  }*/

  .form-category, .form-city, .form-budget, .form-rooms {
    //flex: 1 1;
    flex: auto;
    width: 100%;
    max-width: initial;

  }
  @media screen and (min-width: 992px) and (max-width: 1360px) {

    .form-category, .form-city, .form-budget, .form-rooms {
      max-width: 21.5rem;
      flex: 1 1;
    }
  }
  @media screen and (min-width: 992px) and (max-width: 1260px) {

    .form-category, .form-city, .form-budget, .form-rooms {
      max-width: 13rem;

       button {
         text-indent: 0;
         padding-right: 15px !important;

          span.filter-option {
            font-size: 14px !important;
          }

         span.caret {
           right: 4px !important;
         }
       }
    }
  }
  .search-main-block form {
    overflow-y: unset;
  }

  &-home-contact {

    min-width: 14em;

    @media screen and (max-width: 991px) {
      width: 100%;
    }

    &-i {
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      width: 12em;
      text-align: center;

      @media screen and (max-width: 991px) {
        width: 100%;
      }

      p {
        cursor: pointer;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        white-space: nowrap;
        margin: 0;
        color: #2a5f2e;
        position: relative;

        @media screen and (max-width: 991px) {
          font-size: 18px;
        }

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 25%;
          height: 50%;
          width: 2px;
          background: #cccccc;

          @media screen and (max-width: 991px) {
            width: 80%;
            left: 10%;
            top: -35px;
            height: 2px;
            background: #2a5f2e;
          }
        }
      }
    }

  }

  &-favorites-discover {
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 25%;
      width: 2px;
      height: 50%;
      background: #e84949;
    }

    @media screen and (max-width: 991px) {
      &:before {
        content: none;
      }
    }
  }

  /*===static-pages===*/

  &__static {
    .menu {
      z-index: 2;

        ul{
          justify-content: center;
        }

    }

    .header-right {
      min-width: 12.5em;
      padding-left: 1em;
    }

  }

  &::after {
    content: '';
    position: fixed;
    width: 0;
    height: 100%;
    background-color: #fff;
    z-index: 1;
    left: 0;
    top: 0;
    -webkit-transition: .35s all;
    -moz-transition: .35s all;
    -ms-transition: .35s all;
    -o-transition: .35s all;
    transition: .35s all;
  }

  &-mob {

    @media screen and (max-width: 991px) {

      &::after {
        width: 100%;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
        height: 10px;
        bottom: 0;
        z-index: 2;
      }
      .menu, .header-right {
        display: flex;
      }
    }

  }

}