/*Property corusel*/
.lSAction{

  position: static;

  >a {
    width: 45px;
    display: block;
    top: 50%;
    height: 45px;
    background-image: none;
    cursor: pointer;
    background: #ffffff;
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    margin-top: -22px;
    position: absolute;
    z-index: 99;
    opacity: 0.5;
    transition: opacity 0.35s linear 0s;

      &:after {
        content: '';
        position: absolute;
        top: 16px;
        width: 12px;
        height: 12px;
        border: 3px solid #000000;
        border-bottom-width: 0;
        border-left-width: 0;
      }

    @media screen and (max-width: 767px) {
      top: 40%;
    }
  }

  .lSPrev {
    &:after {
      left: 18px;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg);

    }
  }

  .lSNext {
    &:after {
      left: 15px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);

    }
  }

}

.lightSlider {
  height: auto !important;
}

.lSSlideWrapper {
  overflow: visible;
}

.lslide {
  .property {

    &-block {
      flex-basis: auto;
      max-width: none;
      min-width: auto;
      padding: 5px;

        &-top {
          margin-bottom: 10px;

            &__bottom {
                p {
                  font-size: .75em;
                }
            }
        }

      &-main {

        a {
          flex-direction: column;
          max-height: 169px;
          overflow: hidden;
        }
      }

      &-bottom {
        p {
          font-size: .8125em;
        }

        &__ {
          p {
            font-size: .6875em;
          }
        }
      }
    }

  }

  .info_rent-sale {

    p {
      font-size: 10px;
    }
  }

  .favorit-icon {
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;

      span {
        margin-top: 5px;
        background-size: 15px;
      }
  }

  .descrip-bottom {
    display: none;
  }

}

.slider-home {

  .lSSlideOuter {

   ul.lightSlider {
     display: flex;
   }

  }

  .lslide {

    padding: 20px;

    .property {
      &-block {
        padding: 0;
        height: 100%;

        &-main {
          height: 100%;
          display: flex;
          justify-content: center;
          flex-direction: column;

          a {
            max-height: initial;
          }
        }

        &-top {
          flex: 1 0 auto;
        }

        &-bottom {
          flex: 0 0 auto;

          &__ {
            font-size: 28px;
          }

        }

        &-name {
          font-size: 1.3em;

          @media screen and (max-width: 767px) {
            font-size: .75em;
          }

        }

      }
    }
  }

  .lSAction > .lSNext {
    right: 20px;
  }

  .lSAction > .lSPrev {
    left: 20px;
  }

}

.lSSlideOuter .lightSlider, .lSSlideOuter .lSPager {
  margin: auto;
}

/*====discovery-reg===*/

.slider-discover {
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

ul.lSPager.lSGallery {
  position: absolute;
  bottom: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  //background: rgba(0,0,0,.15);

    li {
      width: auto !important;
      margin-right: 0 !important;
      position: relative;
      cursor: pointer;
      
        &:after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: rgba(0,0,0,.4);
          -webkit-transition: .35s;
          -moz-transition: .35s ;
          -ms-transition: .35s ;
          -o-transition: .35s ;
          transition: .35s ;
        }
      
      &:hover {
        &:after {
          background: transparent;
        }
      }

        
    }
  
    li.active {
      &:after {
        background: transparent;
      }
    }
}
