
.lb_wrap {

  .intl-tel-input {
    width: 100%;

    .flag-container {
      position: static;
      bottom: 0;
    }

    .selected-flag {
      bottom: -10px;
    }

    .country-list {
      width: 100%;
      overflow-x: hidden;

      .country {
        display: flex;
        align-items: center;

          &-name {
            margin-bottom: 0;
          }
      }

    }

  }

}