.properties {

  &-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -20px;

    @media screen and (max-width: 767px) {
      margin: 0 -15px;
    }

  }

  &-page {

    h2 {
      margin: 1.5em 0;

      @media screen and (max-width: 767px) {
        margin: .75em 0;
        font-size: 26px;
      }
    }
  }

  &-view {
    h3 {
      font-size: 1.5em;
      margin-bottom: 1.5em;

      @media screen and (max-width: 767px) {

        font-size: 18px;
        margin-top: 3em;

      }
    }
  }
}
.prop {

  &__top {

    margin-bottom: 2.0rem;

    .container, .container-fluent {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:after, &:before {
        content: normal;
      }
    }

  }

  &__url {

    max-width: 35%;
    a {
      display: inline-block;
      color: #698b0f;
      font-size: 1.5em;
      font-weight: 400;

      @media screen and (max-width: 767px) {
        font-size: 1em;
      }
    }
  }

  &__place {
    text-align: center;
    margin-bottom: 3.25em;

      @media screen and (max-width: 767px) {
        margin-bottom: 1.75em;
      }

    h1 {
      font-size: 2.5em;
      color: #000000;
      margin: 0 auto;

      @media screen and (max-width: 767px) {
        font-size: 26px;
      }
    }
  }
}

.property {

  margin-bottom: 15px;

  &-block {
    flex-basis:33.3%;
    max-width: 33.3%;
    padding: 20px;
    min-width: 300px;

    @media screen and (max-width: 991px) {
      padding: 15px;
      flex-basis: 50%;
      max-width: 50%;
      min-width: 270px;
    }
/*
    @media screen and (max-width: 767px) {
      padding: 15px;
      flex-basis: 50%;
      max-width: 50%;
      min-width: 270px;
    }*/

    @media screen and (max-width: 468px) {
      flex-basis: 100%;
      max-width: 100%;
    }

    img {
      cursor: pointer;
      width: 100%;
      //max-height: 300px;
    }
    span {
      img {
        margin-right: 5px;
        width: 15px;
        cursor: auto;
      }
    }

    &-main {

      a {
        display: flex;
        flex-direction: column;
      }

    }

    &-top {
      text-align: center;
      margin-bottom: 15px;

      //&__bottom {
      //  display: flex;
        //position: absolute;
        //left: 0;
        //width: 100%;
        //padding: 0 5px;
        //bottom: 15px;
        //font-family: 'Open Sans';

        /*p*/&__bottom{
          font-size: 1.5em;
          //color: #ffffff;
          margin:0 5px;
          font-weight: 600;
          font-family: 'Open Sans';
          //text-shadow: 2px 1px 1px #000;
        }
      //}

    }

    &-item {
      margin-bottom: 15px;
    }

    &-name {
      color: #4c4c4c;
      margin-bottom: 0;
      margin-top: 0;
      font-size: 1.25em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @media screen and (max-width: 767px) {
        font-size: 13px;
      }
    }

    &-bottom {

      font-family: 'Open Sans';

      &__ {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 0 10px;
        padding-bottom: 10px;
        border-bottom: 2px solid #dddddd;

        @media screen and (max-width: 767px) {
          padding-bottom: 5px;
          margin-bottom: 5px;
        }

        p {
          font-size: 1.0em;
          margin: 2px 5px;
          font-family: 'Conv_Montserrat-Regular';
          white-space: nowrap;

          @media screen and (max-width: 767px) {
            font-size: 11px;
          }

          span {
              font-family: 'Open Sans';
              color: #a8a8a8;
            }

          &:first-child {
            //max-width: 70%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

              span {
                img {
                  width: 10px;
                }
              }
          }
        }
      }

    }

  }

  &-slider-top {
    max-width: 850px;
    width: 100%;
    margin: auto;
  }

  &-information {

    display: flex;
    flex-wrap: wrap;
    //margin: 0 -13px;

    /*position: absolute;
    left: 0;
    top: 0;*/
    width: 100%;

    &--name {
      text-overflow: ellipsis;
      //max-width: 6em;
      overflow: hidden;
      display: inline-block;
      white-space: nowrap;
    }

    &-item {

      align-self: baseline;
      flex: 1 1 auto;
      margin:13px;
      border-radius: 5px;
      background-color: #ffffff;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
      padding: 1.25em;

      @media screen and (max-width: 767px) {

        padding: 15px;
        margin: 7px;

      }

      p {
        font-weight: 100;
        color: #a8a8a8;
        margin: 0 0 1.0em;
      }

      span {
        font-size: 1.375em;
        color: #434343;
      }

    }

  }

  &-facilities {
    
    h2.title {
      text-align: left;
      color: #434343;
      margin-left: .5em;


      @media screen and (max-width: 767px) {

        font-size: 1.25em;
        margin-bottom: 2em;

      }
    }

    &-item {
      display: flex;
      flex-wrap: wrap;

        >div {
          flex: 0 1 auto;
        }
    }

    //min-width: 19.5em;
    //padding-right: 3em;

    //ul {
    //  position: relative;
    //}
    //
    //li {
    //  font-size: 1.375em;
    //  color: #434343;

      /*&:last-child {
        margin-bottom: 0;
      }*/
    //}

    /*li:first-child {
      display: block;
      margin-bottom: 0;
    }*/
    /*li.show-li:first-child {
      margin-bottom: 10px;
    }*/

    img {
      display: inline-block;
      margin-right: 15px;
    }

   /* .rotate-arrow {
      top: inherit;
      margin-top: 17px;
    }*/

  }

  &-description {
    margin: 1.75em 0 2em;

    p {
      line-height: 1.75;
      font-size: 1.125em;
      //color: #a8a8a8;
      font-family: "Open Sans";
    }

  }

  &-information, &-description {

    >span {
      font-size: 1.25em;
      font-weight: 600;
      text-align: left;
    }

  }

  &-carousel {
    position: relative;
    width: 100%;
    padding: 10px;
    border: 2px solid #e2dddd;
    border-left: none;
    border-right: none;
    background: #F2F2F2;

    @media screen and (max-width: 767px) {
      width: 90%;
    }
  }

  &-title {
    margin-top: 0;
    margin-bottom: .75em;
    color: #434343;
    font-size: 1.875em;
    font-weight: 900;

    @media screen and (max-width: 767px) {

      font-size: 1.375em;
      margin-bottom: 15px;

    }
  }

  &-price {

    &-block {
      display: flex;
      position: absolute;
      align-items: center;
      left: 50%;
      padding: 20px;
      border-radius: 3px;
      background-color: #ffffff;
      box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
      -webkit-transform: translate(-50%, -100%);
      -moz-transform: translate(-50%, -100%);
      -ms-transform: translate(-50%, -100%);
      -o-transform: translate(-50%, -100%);
      transform: translate(-50%, -100%);

      z-index: 11;

      @media screen and (max-width: 767px) {

        padding: 15px;

      }

      .btn {
        border: none;
        font-size: 1em;
      }

      .bootstrap-select > .dropdown-toggle {
        padding-right: 27px;
      }

      .caret {
        width: 7px;
        height: 7px;
      }

      .bootstrap-select.btn-group .dropdown-toggle .caret {
        margin-top: -6px;
      }

    }

    &-result {

        p {
          margin: 0;
          color: #2a5f2e;
          font-size: 1.375em;
          white-space: nowrap;

            #price-result {
              font-weight: 900;
            }
        }

      padding-right: 15px;
    }

    &-currency {
      padding: 0 10px 0 10px;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 10%;
          height: 80%;
          width: 1px;
          background: #979797;
        }
    }

    &-type {
      padding: 0 0 0 10px;
    }


   /* ul {
      right: 0;
      top: 0;
      margin-top: -2.5em;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    }

    li {
      font-size: 2em;
      color: #698b0f;
      font-weight: 900;
      padding: 20px 50px 20px 25px;
      background: #FFFFFF;
      border-radius: 5px;
      margin: 0;

      &:first-child {
        display: block;
      }
    }*/

    /*.arrow {
      right: 10px;
      z-index: 2;

      &:after {
        border-color: #698b0f;
      }
    }*/

  }

  &-location-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -1%;

      >div {
        margin: 1%;
        flex-basis: 31%;
        max-width: 31%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        min-width: 260px;

        @media screen and (max-width: 991px) {
          flex-basis: 46%;
          max-width: 46%;
          margin: 2%;
        }

        @media screen and (max-width: 767px) {
          min-width: 135px;
          margin: 2%;
        }
      }

    img {
      width: 100%;
    }

    a {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }

    p {
      margin: 0;
      width: 100%;
      position: absolute;
      font-size: 1.875em;
      color: #ffffff;
      font-weight: bold;
      pointer-events: none;

      @media screen and (max-width: 767px) {
        font-size: 14px;
      }
    }
  }

  &-home-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

      .property-block-bottom__ {
        p {
          font-size: 1.25em;
        }
      }

    &-title {
      font-size: 1.75em;
      margin-top: 1em;

      @media screen and (max-width: 767px) {
        font-size: 1.2em;
      }
    }
  }

  &-slider {
    background-size: cover;
    background-position: center center;
  }

}


span.cost {
  font-size: .5em;
  color: inherit;
}


.info_rent-sale {
  position: absolute;
  left: 15px;
  top: 15px;
  pointer-events: none;
  display: flex;

  p{
    text-transform: uppercase;
    color: #ffffff;
    padding: 5px 7px;
    border-radius: 7px;
    background: #2a5f2e;
    margin: 0 5px;
  }
}

.descrip-bottom {
  height: 50px;
  overflow: hidden;
  padding-top: 9px;
  margin-top: 10px;
  border-top: 1px solid #979797;

  p {
    font-size: 1em;
    line-height: 1.25;
    color: #a8a8a8;
  }

}

._property {

  margin: 0 -13px;


  @media screen and (max-width: 767px) {

    margin: 0 -5px;

  }

  h2 {
    text-align: center;
    font-size: 2.0em;
    font-weight: 600;
    color: #00652e;
  }
}

#property-is-selected span{
  color: #026630;
  position: relative;
  display: inline-block;
  padding-left: 25px;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    top: -2px;
    left: 5px;
    border: 3px solid #026630;
    border-left-width: 0;
    border-top-width: 0;
    width: 9px;
    height: 14px;
    transform: rotate(40deg);
    //clip-path: polygon(47% 85%, 85% 15%, 100% 28%, 47% 100%, 0 49%, 15% 32%);
  }
}


.location {

  &-page {

    &__top {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 15px;
    }

    .map {
      margin: 8em 0 0;
      height: 35em;
    }

    h2.title, h1.title {
      margin-top: 2.5em;
      margin-bottom: 1.5em;

      @media screen and (max-width: 767px) {
        margin-top: 1.5em;
        margin-bottom: .5em;
        font-size: 26px;
      }
    }

    iframe {
      height: 35em;
    }

  /*  &-slider {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }*/

    &-anc {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 4;
      margin: 0;
      font-size: 1.25em;
      -webkit-transform: translate(-50%,-50%);
      -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      -o-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      background: #ffffff;
      padding: 1.25em 4.5em 1.25em 3.5em;
      border-radius: 35px;
      overflow: hidden;
      
        &:after {
          content: '';
          position: absolute;
          top: -100%;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0,0,0,.175);
          -webkit-transition:all .2s linear 0s;
          -moz-transition:all .2s linear 0s ;
          -ms-transition:all .2s linear 0s ;
          -o-transition:all .2s linear 0s ;
          transition:all .2s linear 0s ;
        }

      &:before {
        content: '';
        position: absolute;
        top: -100%;
        left: 50%;
        width: 1.5em;
        height: 1.5em;
        border: 8px solid #ffffff;
        z-index: 3;
        margin-left: -.5em;
        border-left-width: 0;
        border-bottom-width: 0;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg) ;
        -ms-transform: rotate(135deg) ;
        -o-transform: rotate(135deg) ;
        transform: rotate(135deg) ;
        -webkit-transition:all 1s linear .2s;
        -moz-transition:all 1s linear .2s ;
        -ms-transition:all 1s linear .2s ;
        -o-transition:all 1s linear .2s ;
        transition:all 1s linear .2s ;
      }

        &:hover {
          &:after {
            top: 0;
          }
          &:before {
            top: 100%;
          }
        }

        span {
          position: relative;
          z-index: 4;

            &:after {
              content: '';
              position: absolute;
              top: 6px;
              right: -20px;
              width: 8px;
              height: 8px;
              border: 2px solid #434343;
              border-left-width: 0;
              border-bottom-width: 0;
              -webkit-transform: rotate(135deg);
              -moz-transform: rotate(135deg);
              -ms-transform: rotate(135deg);
              -o-transform: rotate(135deg);
              transform: rotate(135deg);
            }
        }
    }
  }


  &-description {

    font-size: 1.125em;
    line-height: 28px;
    font-weight: 400;
    color: #a8a8a8;
    font-family: 'Open Sans';

  }

}
/*.video {

  &__icon {
    z-index: 2;
    width: 20%;
    margin: auto;
    img {
      cursor: pointer;
      width: 100%;
    }
  }

  &__if {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;

    &:after {
      content: '';
      position: fixed;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0, .5);
      z-index: 1;
    }

    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 3;
    }

    &--item {
      position: absolute;
      width: 80%;
      height: 80%;
      left: 10%;
      top: 10%;
    }

  }

}*/

.sold-property {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;

    &.sold {
      width: 150px;
      height: 150px;

        img {
          width: 150px !important;
        }
    }

    img {
      width: 100px !important;
    }
}