/*===search-block===*/
.home {

  h2 {
    margin-top: 3em;
    margin-bottom: .5em;
    font-size: 2.5em;

    @media screen and (max-width: 767px) {

      font-size: 20px;
      margin-top: 1.5em;

    }
  }

}
.home-img {

  left: 0;
  top: 0;
  width: 100%;
  z-index: 4;
  //position: absolute;
  height: 70vh;
  background-image: url("/img/back-image.png");
  background-size: cover;
  background-position: center;

   /* &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 0;
      background: rgba(0,0,0,.4);
    }*/

}
.search {

  &-main {
    -webkit-transform: translateY(44%);
    -moz-transform: translateY(44%);
    -ms-transform: translateY(44%);
    -o-transform: translateY(44%);
    transform: translateY(44%);

    @media screen and (max-width: 991px) {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  }

  &-main-wrap {

    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  &-main-head {
    margin-bottom: 2.5%;

    h1 {
      font-size: 3em;
      text-shadow: 2px 2px 2px #000;
      color: #ffffff;
      font-weight: 900;
      text-align: center;
      width: 100%;
      margin: 0;
      font-family: 'Conv_Montserrat-Regular';
    }
  }


  &-label {
    color: #ffffff;
    font-size: 6.25em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0;
    position: absolute;
    width: 100%;
  }

/*  &-main-bottom {

  }*/

  &-main-block {
    width: 88%;
    margin: 0 auto;

    @media screen and (max-width: 991px) {

      width: 95%;

      /*.dropdown-menu {
        position: relative;
        border-color: rgb(0, 0, 0);
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        margin: 0;
      }*/

    }

    form {
      display: flex;
      justify-content: center;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-transition: .35s all;
      -moz-transition: .35s all;
      -ms-transition: .35s all;
      -o-transition: .35s all;
      transition: .35s all;
      -webkit-box-shadow: 0px 2px 7px rgba(0,0,0,.8);
      -moz-box-shadow: 0px 2px 7px rgba(0,0,0,.8);
      box-shadow: 0px 2px 7px rgba(0,0,0,.8);

        @media screen and (max-width: 991px) {

          display: block;
          border-radius: 0;

          position: fixed;
          left: 100%;
          top: 0;
          //padding-top: 55px;
          width: 100%;
          height: 100vh;
          background: #ffffff;
          padding: 55px 20px 70px;
          z-index: 1;

          &.form-open {
            left: 0;
          }

        }

      @media screen and (max-height: 460px) {
        overflow-y: scroll;
      }

      >div{
        margin: 0;
        border-left: 1px solid #979797;
        width: 6em;

        @media screen and (max-width: 991px) {
          border-left: none;
          left: 0;
          width: 100%;
          margin-top: 4.5vh;
        }

        &:first-child {
          border-left: 0;
        }

      }

    }
    .form-type {
      button {
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;

        @media screen and (max-width: 991px) {
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
        }

      }
    }
    .form-btn {
      border-right-width: 0;

      @media screen and (max-width: 991px) {
        text-align: center;
      }

      button {
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        padding-right: 5px;
        color: #FFFFFF;
        font-weight: 400;
        outline: none;
        border: none;
        background: #2a5f2e;
        text-indent: 0;

        &:hover, &:focus, &:active {
          background: #1e4621;
          outline: none;
          border: none;
        }


        @media screen and (max-width: 991px) {
          display: inline-block;
          width: 80%;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
        }

      }

      &:after {
        content: none;
      }
    }
    select, input, button {
      padding: 45px 40px 41px 5px;
      height: 100%;
      font-size: 16px;
      width: 100%;
      background: #ffffff;
      border: 0;
      color: #000;
      cursor: pointer;
      text-indent: 15px;
      line-height: initial;

      @media screen and (max-width: 991px) {
        padding: 8px 5px;
        font-size: 16px;
        border-bottom: 1px solid #979797;
        text-indent: 0;
      }

    }

   /* button {
      @media screen and (max-width: 991px) {
        position: relative;

          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 20px;
            width: 88%;
            height: 1px;
            background: #979797;
          }
      }
    }*/


  }


}

.show-search-main {
  z-index: 2;

  @media screen and (min-width: 992px) {
    display: none;
  }

  &-btn {

    font-size: 16px;
    padding: 15px 35px;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.3);
    margin-top: 8vh;

    &:hover {
      background: #1e4621;
      color: #ffffff;
    }
  }
}

.close-form-mob {
  text-align: center;
  margin-top: 20px !important;

  &-btn {
    color: #2a5f2e;
    font-size: 16px;
    padding: 10px 30px;
    cursor: pointer;
  }

  @media screen and (min-width: 992px) {
    display: none;
  }
}

.body-fix {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.z-idx {
  z-index: 4;
}

/*=== header search ===*/
.header {

  .search {

    &-main--header {
      position: relative;

      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none;

      //margin-left: 2.5%;
      margin-left: 0;

      @media screen and (max-width: 991px) {
        position: absolute;
        z-index: 2;
      }

    }

    &-main-block--header {

      padding: 0;
      width: 100%;

      .search-main-block {

        width: 100%;

      }



      form {
        -webkit-box-shadow: 0 0 0 0;
        -moz-box-shadow: 0 0 0 0;
        box-shadow: 0 0 0 0;
        border-radius: 0;

        @media screen and (max-width: 991px) {
          padding-top: 0;
          top: 100px;
          padding-bottom: 150px;

          .form-city, .form-budget {
            ul.dropdown-menu.inner {
              height: 35vh;
            }
          }
        }
      }

      select, button {
        padding: 45px 40px 41px 5px;
        line-height: initial;

        @media screen and (max-width: 991px) {
          padding: 8px 5px;
        }

      }

      .search-header-btn {
        background-color: transparent;
        font-size: 0;

        background-image: url("/img/search.svg");
        background-size: 21px;
        background-repeat: no-repeat;
        background-position: center;
        padding-left: 10px;
        padding-right: 10px;
        width: inherit;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;

          &:hover, &:focus, &:active {
            background-color: transparent;
            background-image: url("/img/search.svg");
            background-position: center;
            background-size: 26px;
            background-repeat: no-repeat;
          }

        @media screen and (max-width: 991px) {
          padding-right: 5px;
          color: #FFFFFF;
          font-weight: 400;
          outline: none;
          background: #2a5f2e;
          text-indent: 0;
          background-image: none;
          border: 1px solid transparent;

          font-size: 16px;
          display: inline-block;
          width: 80%;
          border-radius: 3px;
          box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);

          &:hover, &:focus, &:active {
            background-image: none;
            color: #2a5f2e;
            border: 1px solid #2a5f2e;
            border-radius: 3px;
          }
        }
      }

      .form-btn {
        border-right: 1px solid #979797;

        @media screen and (max-width: 991px) {
          border-right: none;
        }

        /* button {
           border-radius: 0;
           padding-right: 30px;
           padding-left: 30px;
         }*/
      }

    }
  }

}
/*=== end header search ===*/