.social {

    @media screen and (max-width: 767px) {
      margin: auto;
    }

    >a {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background-color: transparent;
      border: 1px solid #a8a8a8;
      margin-right: 12px;
      display: inline-block;
      background-repeat: no-repeat;
      background-position: center center;

        &:hover {
          background-color: #ffffff;
        }
    }

  &-fk {
    background-image: url("/img/social-fk.svg");
  }

  &-in {
    background-image: url("/img/social-in.svg");
  }

  &-gl {
    background-image: url("/img/social-gl.svg");
  }
}