.static {

    h1, h2 {
        font-size: 2.5em;

        @media screen and (max-width: 767px) {
            font-size: 26px;
        }
    }

    span, p {
        font-size: 1.125em;
        color: #434343;
        line-height: 1.67;
        font-family: "Open Sans";

        @media screen and (max-width: 767px) {
            font-size: 1em;
        }
    }

    h3 {
        color: #a8a8a8;
    }

    h4 {
        color: #333333;
        font-size: 1.5em;
    }

    .title {
        font-size: 1.25em;
        color: #434343;
        font-weight: 600;
        line-height: normal;
        margin-top: 10px;
    }

    .links__item {
        margin-bottom: 15px;
        font-size: .875em;
        color: #a8a8a8;
        line-height: 1.57;
    }

    img {
        width: 100%;
    }

    > div {
        margin-top: 2em;

        &.faq-bloc {
            margin-top: .5em;
        }
    }

    &-map {

        margin-top: 2em;

        img {
            max-width: 80%;
        }

        p {
            font-family: 'Open Sans';
            margin-top: 15px;
        }
    }

    &-success {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

}

.agent {

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }
    li {
        width: 44%;
        margin: 3%;

        @media screen and (max-width: 767px) {
            width: 100%;
            margin: 1%;
        }
    }
    

    h3 {
        font-size: 1.5em;
        margin-bottom: 10px;
    }


}

.service {

    p {
        font-family: "Open Sans";
        margin-bottom: 2em;

        @media screen and (max-width: 767px) {
            margin-bottom: 10px;
        }
    }
}

.about-us {

    &--item {
        display: flex;
        margin-top: 3em;
        margin-bottom: 4em;
        flex-wrap: wrap;


            @media screen and (max-width: 767px) {
                margin-top: 0;
                margin-bottom: 0;
            }

        li {

            &:first-child {
                width: 30%;

                @media screen and (max-width: 767px) {
                    width: 100%;
                }
            }

            &:last-child {
                width: 67%;
                margin-left: 3%;

                @media screen and (max-width: 767px) {
                    width: 100%;
                    margin-left: 0;
                }
            }
        }
    }

    p {
        font-family: "Open Sans";
        margin-bottom: 2.5em;

        @media screen and (max-width: 767px) {
            margin-bottom: 1em;
        }
    }
    
    h3.staff-title {
        text-align: center;
        font-size: 2em;
        color: #434343;
        margin-bottom: 1.5em;
        font-weight: 600;
    }

    &-name {
        padding: 25px;
        color: #2a5f2e;
        font-size: 1.75em;
        border-radius: 3px;
        box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);

        @media screen and (max-width: 767px) {
            margin-bottom: .5em;
        }
    }

    &--staff {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;


        margin: 0 -1%;

            li {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 31.3%;
                margin: 1%;

                border: 1px solid #fff;
                box-shadow: 0 0 1px #c9c9c9;
                margin-bottom: 25px;

                @media screen and (max-width: 767px) {
                    width: 100%;
                    margin-bottom: 10px;
                }
            }

        p {
            font-size: 16px;
            color: #192121;
            line-height: 1.6;
            margin-bottom: 0;

            @media screen and (max-width: 767px) {
                font-size: 14px;
            }

            &.about-us--staff-tel {
                color: #b4002F;
            }

            &.about-us--staff-mail {
                color: #b4002F;
                font-size: 14px;
            }

            &.about-us--staff-name {
                font-size: 19px;

                @media screen and (max-width: 767px) {
                    font-size: 16px;
                }
            }

            &.about-us--staff-tel,
            &.about-us--staff-mail,
            &.about-us--staff-name {
                span {
                    line-height: inherit;
                    font-size: inherit;
                    color: inherit;
                }
            }
        }

        &-photo {
            flex: 1 1;
        }

        &-info {
            padding: 10px;
            flex: 0 0 auto;

                img {
                    width: 14px;
                    margin-right: 10px;
                    flex: 1 0 auto;
                }
        }

        &-social {
            display: flex;
            justify-content: space-around;

            a {
                margin: 15px 0;
                display: inline-block;
                width: 30px;

                    img {
                        width: 100%;
                    }
            }
        }

    }
}

.links {

    &__link {
        color: #2a5f2e;
        margin-bottom: 15px;
        display: block;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
    }

    &__btn {
        padding: 15px 35px;
        display: inline-block;
        font-size: .875em;
        color: #2a5f2e;
        font-weight: 600;
        border-radius: 3px;
        box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    li {

        display: inline-block;
        width: 33%;
        margin-bottom: 2em;

        @media screen and (max-width: 991px) {
            width: 50%;
        }

        @media screen and (max-width: 767px) {
            width: 100%;
            margin-bottom: .5em;
        }

        >div {
            padding: 15px;
        }
    }

}

.article {

    &-blog {
        display: flex;
    }

    &-image-block {
        width: 26.5%;

        img {
            width: 100%;
            max-width: 300px;
        }
    }

    &-title {

        h4 {
            font-weight: 600;
            font-size: 16px;
            margin-top: 0;
        }

    }

    &-bottom {
        width: 70%;
        margin-left: 4%;
        display: flex;
        flex-direction: column;
    }

    &-description {
        flex: 1 0 auto;
        margin-bottom: 1em;
        font-size: 14px;

        font-family: "Open Sans";
    }

    &-link {
        flex: 0 0 auto;
        text-align: right;

            a {
                padding: 6px 12px;
                border: 1px solid #cccccc;
                border-radius: 4px;
                background: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);

                    &:hover {
                        background: #e0e0e0;
                        text-decoration: none;
                    }
            }
    }
}

.faq {

    &-bloc {
        margin-top: 5px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: 1px solid #dddddd;
    }

    &-title {
        margin-top: 0;
        margin-bottom: 0;
        padding: 10px 15px;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        background: #f5f5f5;
        cursor: pointer;
    }

    &-content {
        display: none;
        padding: 15px;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none;

    }
}