.video {

  &-bl {
    //position: fixed;
    //left: 0;
    //top: 0;
    //width: 100%;
    //height: 100%;
    //background: rgba(0,0,0,.5);
    //z-index: 10;

    justify-content: center;
    flex-direction: column;
    align-items: center;

    margin-top: 3em;
    margin-bottom: 3em;

      //button {
      //  font-size: 0;
      //  position: absolute;
      //  left: 0;
      //  top: 0;
      //  width: 100%;
      //  height: 100%;
      //}

      iframe {
        width: 100%;
        height: 100%;
        min-height: 25em;
        z-index: 1;
      }
  }

 /* &-btn {

      button {
        width: 40px;
        height: 30px;
        background-image: url("/img/youtube.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }

  }*/

}